---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header
      title="Neuigkeiten"
      description="Immer up to date: Wissen, Tipps und mehr! Entdecke spannende Neuigkeiten, Updates und Inspirationen rund um Ernährung und unsere App."
      heroSize="small"
    />
    <main>
      <section class="max-w-7xl mx-auto px-6">
        <div class="grid grid-cols-4">
          {
            posts.map((post) => (
              <div>
                <a href={`${import.meta.env.BASE_URL}blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    class=" rounded-lg mb-2"
                    src={`${import.meta.env.BASE_URL}images/blog/${post.data.heroImage}`}
                    alt=""
                  />
                  <p class="date opacity-70 text-sm">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <h4 class="title font-bold">{post.data.title}</h4>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
