---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  HERO_TITLE,
  HERO_SUBTITLE,
  SLIDER_CONTENT,
} from "../consts";
import { getCollection } from "astro:content";
import HeroImage from "../../public/images/yumkin-hero3.jpg";
import BlogTeaser from "../components/BlogTeaser.astro";

const quotes = await getCollection("quotes");
const posts: BlogPost[] = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    x-data={`{ selectedIndex: 0, SLIDER_CONTENT: ${JSON.stringify(SLIDER_CONTENT)} }`}
  >
    <Header
      title={HERO_TITLE}
      description={HERO_SUBTITLE}
      heroSize="large"
      heroImage={HeroImage}
    />
    <main class="max-w-7xl mx-auto px-6 text-center space-y-24 pt-16">
      <section>
        <header class="max-w-2xl mx-auto mb-8">
          <h2 class="text-xl md:text-2xl lg:text-3xl mb-4 font-semibold">
            Endlich wieder Genuss und Spaß beim Essen.
          </h2>
          <p class="text-lg opacity-70">
            Sag tschüss zu komplizierter Rezeptsuche. Wir helfen mit der
            kulinarischen Alltagsplanung bei Lebensmittelunverträglichkeiten
            oder -Allergien.
          </p>
        </header>

        <div class="slider grid md:grid-cols-3 items-center my-8 p-6">
          <div role="list" class="shadow-sm ring-1 ring-gray-100">
            <template x-for="(item, index) in SLIDER_CONTENT" :key="index">
              <div
                class="flex bg-white justify-between gap-x-6 p-4 cursor-pointer border-2 hover:border-brand items-center text-left transition-all group first:rounded-t-lg first:bg-red-400 last:rounded-b-lg"
                x-bind:class="{
                  'bg-gray-50 border-brand': selectedIndex === index,
                  'border-transparent': selectedIndex !== index
                }"
                @click="selectedIndex = index"
              >
                <div><h3 class="font-semibold" x-text="item.label"></h3></div>
                <svg
                  class="size-6 flex-none text-transparent group-hover:text-brand"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
            </template>
          </div>

          <div class="slides w-full flex justify-center">
            <template x-for="(item, index) in SLIDER_CONTENT" :key="index">
              <div x-show="selectedIndex === index">
                <img
                  :src="item.content"
                  :alt="item.description"
                  class="max-h-[50vh] rounded-lg"
                />
              </div>
            </template>
          </div>

          <!-- Slide Images -->
          <div class="slides w-full flex justify-center">
            <template x-for="(item, index) in SLIDER_CONTENT" :key="index">
              <div
                x-show="selectedIndex === index"
                class="bg-white p-4 cursor-pointer inset-px rounded-lg"
              >
                <p x-text="item.description"></p>
              </div>
            </template>
          </div>
        </div>
      </section>
      <section>
        <header class="max-w-2xl mx-auto mb-8">
          <h2 class="text-xl md:text-2xl lg:text-3xl mb-4 font-semibold">
            Warum Yumkin wichtig ist!
          </h2>
          <p class="text-lg opacity-70">
            Echte Geschichten, ehrliches Feedback und begeisterte Stimmen aus
            unserer Community.
          </p>
        </header>
        <div
          class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-4 text-left"
        >
          {
            quotes.map((quote) => (
              <>
                <div class="bg-gray-50 border border-gray-100 p-4 rounded-lg">
                  <div class="text-wrap">{quote.body}</div>
                  <p class="text-xs opacity-70 pt-8">{quote.data.author}</p>
                </div>
              </>
            ))
          }
        </div>
      </section>
      <section>
        <header class="max-w-2xl mx-auto mb-8">
          <h2 class="text-xl md:text-2xl lg:text-3xl mb-4 font-semibold">
            Immer up to date: Wissenswertes, Tipps und Tricks!
          </h2>
          <p class="text-lg opacity-70">
            Entdecke Wissenswertes, Updates und Inspirationen rund um Ernährung
            und unsere App.
          </p>
        </header>
        <div
          class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 text-left"
        >
          {posts.map((post: BlogPost) => <BlogTeaser post={post} />)}
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
