---
import BaseHead from "../components/general/BaseHead.astro";
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
import Testimonials from "../components/content/Testimonials.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  HERO_TITLE,
  HERO_SUBTITLE,
} from "../consts";
import HeroImage from "../../public/images/yumkin-hero3.jpg";
import Benefits from "../components/content/Benefits.astro";
import YumkinFeatures from "../components/content/YumkinFeatures.astro";
import LatestPosts from "../components/content/LatestPosts.astro";
---

<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header
      title={HERO_TITLE}
      description={HERO_SUBTITLE}
      heroSize="large"
      heroImage={HeroImage}
    />
    <main class="max-w-7xl mx-auto px-6 text-center space-y-24 pt-16">
      <Benefits />
      <YumkinFeatures />
      <Testimonials />
      <LatestPosts />
    </main>
    <Footer />
  </body>
</html>
