---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header heroSize="large" />
    <main class="max-w-7xl mx-auto px-6">
      <section>
        <h2>
          Sag Tschüss zu komplizierter Rezeptsuche und unsicherem Einkaufen. Mit
          Yumkin ist Genuss einfacher als je zuvor!
        </h2>
        <p>
          Eine Unverträglichkeit oder Allergie ist diagnostiziert und man ist im
          Alltag überfordert mit der Frage: „Was kann ich denn jetzt überhaupt
          noch essen?”
        </p>
      </section>
      <section>
        <h2>Warum Yumkin wichtig ist!</h2>
        <p>
          Echte Geschichten, ehrliches Feedback und begeisterte Stimmen aus
          unserer Community.
        </p>
      </section>
      <section>
        <h2>Immer up to date: Wissen, Tipps und mehr!</h2>
        <p>
          Entdecke spannende Neuigkeiten, Updates und Inspirationen rund um
          Ernährung und unsere App.
        </p>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4">
          {
            posts.map((post) => (
              <div>
                <a href={`${import.meta.env.BASE_URL}blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    class=" rounded-lg mb-2"
                    src={`${import.meta.env.BASE_URL}images/blog/${post.data.heroImage}`}
                    alt=""
                  />
                  <p class="date opacity-70 text-sm">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <h4 class="title font-bold">{post.data.title}</h4>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
