---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import HeaderDetail from "../components/HeaderDetail.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <HeaderDetail />
    <main>
      <article class="">
        <div class="hero-image mb-8 p-6">
          {
            heroImage && (
              <img
                width={1020}
                height={510}
                class="rounded-xl w-full max-h-[50vh] object-cover"
                src={`${import.meta.env.BASE_URL}${heroImage}`}
                alt=""
              />
            )
          }
        </div>
        <div class="mx-auto max-w-5xl px-6 prose">
          <div class="date pb-8">
            Veröffentlicht am <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Letztes Update am <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <div class="title">
            <h1>{title}</h1>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
