---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import HeaderDetail from "../components/HeaderDetail.astro";
import SimilarPosts from "../components/SimilarPosts.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, tags } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <HeaderDetail />
    <main>
      <article class="">
        <header
          class="mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl px-6 prose mt-16"
        >
          <div class="mb-8 text-center">
            <a href="/blog"
              ><span aria-hidden="true">←</span> Zurück zu Wissenswertes</a
            >
          </div>
          <div class="title text-center">
            <h1>{title}</h1>
          </div>
          <div
            class="flex flex-col gap-4 pb-8 pt-4 font-medium text-sm items-center"
          >
            {
              tags && (
                <div class="flex flex-wrap gap-1">
                  {tags?.map((tag) => (
                    <span class="py-1 px-2 text-xs font-semibold text-gray-600 rounded-full bg-gray-100">
                      {tag}
                    </span>
                  ))}
                </div>
              )
            }
            <div class="date">
              Veröffentlicht am <FormattedDate date={pubDate} />
            </div>
          </div>
        </header>
        {
          heroImage && (
            <div class="hero-image mb-8 p-6">
              <Image
                class="rounded-xl w-full object-cover aspect-video"
                src={`${import.meta.env.BASE_URL}${heroImage}`}
                alt=""
                width={2040}
                height={1020}
              />
            </div>
          )
        }
        <div class="mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl px-6 prose">
          <slot />
        </div>
      </article>
      <!-- Similar Posts -->
      <SimilarPosts currentPost={{ title, tags }} />
    </main>
    <Footer />
  </body>
</html>
